a{
  text-decoration: none;
  color: black;
}

.wrapper{
  text-align: center;
}

.wrapper a{
  display: block; 
  width: 150px;
  margin: 0 auto;
  text-decoration: none;
  color: black;
  padding: 20px;
  background-color:rgb(127, 214, 255);
}